<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intelliworkz.skumschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Student.Home.HomeActivity" />
        <activity android:name=".Forgot_Password.Forgot_PasswordActivity" />
        <activity
            android:name=".Student.Attendence.AttendenceActivity"
            android:label="@string/title_activity_attendence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChangePassword.ChangePasswordActivity" />
        <activity
            android:name=".Student.NoticeBoard.NoticeBoardActivity"
            android:label="@string/title_activity_notice_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.ProgressReport.ProgressReportActivity"
            android:label="@string/title_activity_progress_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Calender.CalenderActivity"
            android:label="@string/title_activity_calender"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Evaluation.EvaluationActivity"
            android:label="@string/title_activity_evaluation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Education.EducationActivity"
            android:label="@string/title_activity_education"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Environment.EnvironmentActivity"
            android:label="@string/title_activity_environment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Emotional_Evaluation.Emotional_EvaluationActivity"
            android:label="@string/title_activity_emotional__evaluation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Admin.AdminHome.AdminHomeActivity" />
        <activity
            android:name=".Admin.AdminStudent.AddStudentActivity"
            android:label="@string/title_activity_add_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminAttendence.AdminAttendenceActivity"
            android:label="@string/title_activity_admin_attendence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminNoticeBoard.AdminNoticeBoardActivity"
            android:label="@string/title_activity_admin_notice_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminEvent.AdminEventActivity"
            android:label="@string/title_activity_admin_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminStudent.SearchStudentActivity"
            android:label="@string/title_activity_search_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminStudent.ViewStudentActivity"
            android:label="@string/title_activity_view_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminStudent.StudentDetailActivity"
            android:label="@string/title_activity_student_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminAttendence.AttendenceStandardActivity"
            android:label="@string/title_activity_attendence_standard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminUser.AddUserActivity"
            android:label="@string/title_activity_add_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminRole.AdminRoleActivity"
            android:label="@string/title_activity_admin_role"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminStudent.EditStudentActivity"
            android:label="@string/title_activity_edit_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminProgressReport.AdminProgressReportActivity"
            android:label="@string/title_activity_admin_progress_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminEvaluation.AdminEvaluationActivity"
            android:label="@string/title_activity_admin_evaluation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminEducation.AdminEducationActivity"
            android:label="@string/title_activity_admin_education"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminEnvironment.AdminEnvironmentActivity"
            android:label="@string/title_activity_admin_environment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminEmotional_Evaluation.AdminEmotional_EvaluationActivity"
            android:label="@string/title_activity_admin_emotional__evaluation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminMessages.AdminMessagesActivity"
            android:label="@string/title_activity_admin_messages"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>