<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intelliworkz.skumschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Student.Home.HomeActivity" />
        <activity android:name=".Forgot_Password.Forgot_PasswordActivity" />
        <activity
            android:name=".Student.Attendence.AttendenceActivity"
            android:label="@string/title_activity_attendence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChangePassword.ChangePasswordActivity" />
        <activity
            android:name=".Student.NoticeBoard.NoticeBoardActivity"
            android:label="@string/title_activity_notice_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.ProgressReport.ProgressReportActivity"
            android:label="@string/title_activity_progress_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Calender.CalenderActivity"
            android:label="@string/title_activity_calender"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Evaluation.EvaluationActivity"
            android:label="@string/title_activity_evaluation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Education.EducationActivity"
            android:label="@string/title_activity_education"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Environment.EnvironmentActivity"
            android:label="@string/title_activity_environment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student.Emotional_Evaluation.Emotional_EvaluationActivity"
            android:label="@string/title_activity_emotional__evaluation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Admin.AdminHome.AdminHomeActivity" />
        <activity
            android:name=".Admin.AdminAddStudent.AddStudentActivity"
            android:label="@string/title_activity_add_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminAttendence.AdminAttendenceActivity"
            android:label="@string/title_activity_admin_attendence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminNoticeBoard.AdminNoticeBoardActivity"
            android:label="@string/title_activity_admin_notice_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminEvent.AdminEventActivity"
            android:label="@string/title_activity_admin_event"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Admin.SearchStd.SearchStdActivity">
            <meta-data android:name="android.app.default_searchable"
                android:value=".SearchableActivity"/>
        </activity>
    </application>

</manifest>