<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intelliworkz.skumschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".Forgot_Password.Forgot_PasswordActivity" />
        <activity
            android:name=".Attendence.AttendenceActivity"
            android:label="@string/title_activity_attendence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePassword.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoticeBoard.NoticeBoardActivity"
            android:label="@string/title_activity_notice_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProgressReport.ProgressReportActivity"
            android:label="@string/title_activity_progress_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calender.CalenderActivity"
            android:label="@string/title_activity_calender"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Evaluation.EvaluationActivity"
            android:label="@string/title_activity_evaluation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Education.EducationActivity"
            android:label="@string/title_activity_education"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Environment.EnvironmentActivity"
            android:label="@string/title_activity_environment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Emotional_Evaluation.Emotional_EvaluationActivity"
            android:label="@string/title_activity_emotional__evaluation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminHome.AdminHomeActivity" />
        <activity
            android:name=".AdminAddStudent.AddStudentActivity"
            android:label="@string/title_activity_add_student"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>